---
import { cn } from '@/lib/utils';
import { badgeVariants } from '@/registry/new-york-v4/ui/badge'
import { buttonVariants } from '@/registry/new-york-v4/ui/button';
import IconArrowLeft from '~icons/tabler/arrow-left'
import IconArrowRight from '~icons/tabler/arrow-right'

const { dir, pagination } = Astro.locals.starlightRoute;
const { prev, next } = pagination;
---

<div class="flex flex-col gap-2">
  <div class="flex flex-col gap-2">
    <div class="flex items-start justify-between">
      <h1 id="_top" class="scroll-m-20 text-4xl font-semibold tracking-tight sm:text-3xl xl:text-4xl">
        {Astro.locals.starlightRoute.entry.data.title}
      </h1>
      <div
        class="docs-nav bg-background/80 border-border/50 fixed inset-x-0 bottom-0 isolate z-50 flex items-center gap-2 border-t px-6 py-4 backdrop-blur-sm sm:static sm:z-0 sm:border-t-0 sm:bg-transparent sm:px-0 sm:pt-1.5 sm:backdrop-blur-none"
      >
        {
            prev && (
              <a href={prev.href} class={cn(buttonVariants({ variant: 'secondary', size: 'icon' }), 'extend-touch-target size-8 shadow-none md:size-7')}>
                <IconArrowLeft />
                <span class="sr-only">Previous</span>
              </a>
            )
          }
          {
            next && (
              <a href={next.href} class={cn(buttonVariants({ variant: 'secondary', size: 'icon' }), 'extend-touch-target size-8 shadow-none md:size-7')}>
                <IconArrowRight />
                <span class="sr-only">Next</span>
              </a>
            )
          }
      </div>
    </div>
    {Astro.locals.starlightRoute.entry.data.description && <p class="text-muted-foreground text-[1.05rem] text-balance sm:text-base">{Astro.locals.starlightRoute.entry.data.description}</p>}
  </div>
  {
    Astro.locals.starlightRoute.entry.data.links && (
      <div class="flex items-center space-x-2 pt-4">
        {Astro.locals.starlightRoute.entry.data.links.doc && (
          <a href={Astro.locals.starlightRoute.entry.data.links.doc} class={badgeVariants({ variant: 'secondary' })} target="_blank" rel="noreferrer">
            Docs
            {/* <IconArrowUpRight /> */}
          </a>
        )}
        {Astro.locals.starlightRoute.entry.data.links.api && (
          <a href={Astro.locals.starlightRoute.entry.data.links.api} class={badgeVariants({ variant: 'secondary' })} target="_blank" rel="noreferrer">
            API Reference
            {/* <IconArrowUpRight /> */}
          </a>
        )}
      </div>
    )
  }
</div>
