---
import { cn } from "@/lib/utils";
import { flattenSidebar, type SidebarEntry } from "../../utils/navigation";
import { Badge } from "@astrojs/starlight/components";

interface Props {
  sublist: SidebarEntry[];
  nested?: boolean;
}

const { sublist } = Astro.props;
---

<div class="w-full">
  {
    sublist.map((entry) =>
      entry.type === "link" ? (
        <a
          href={entry.href}
          class:list={[
            entry.attrs.class,
            cn(
              "group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline",
              entry.isCurrent
                ? "font-medium text-foreground"
                : "text-muted-foreground"
            ),
          ]}
          {...entry.attrs}
        >
          <span>{entry.label}</span>
          {entry.badge && (
            <Badge
              variant={entry.badge.variant}
              class={entry.badge.class}
              text={entry.badge.text}
            />
          )}
        </a>
      ) : (
        <div class="pb-4">
          <h4 class="mb-1 rounded-md px-2 py-1 text-sm font-semibold">
            {entry.label}
            {entry.badge && (
              <Badge
                variant={entry.badge.variant}
                class={entry.badge.class}
                text={entry.badge.text}
              />
            )}
          </h4>

          {entry.entries.length && (
            <div class="grid grid-flow-row auto-rows-max text-sm">
              <Astro.self sublist={entry.entries} nested />
            </div>
          )}
        </div>
      )
    )
  }
</div>
