---
import { cn } from '@/lib/utils'

import { buttonVariants } from '@/registry/new-york/ui/button'
import type { Props } from '@astrojs/starlight/props'
import { PAGE_TITLE_ID } from '../../constants'

const { data } = Astro.props.entry
const { title = data.title, tagline, actions = [] } = data.hero || {};
---

<section
  class="mx-auto flex flex-col items-start gap-2 px-4 py-8 md:py-12 md:pb-8 lg:py-12 lg:pb-10"
>
  <h1
    id={PAGE_TITLE_ID}
    data-page-title
    set:html={title}
    class="text-3xl font-bold leading-tight tracking-tighter md:text-4xl lg:leading-[1.1]"
  />
  {
    tagline && (
      <p
        class="max-w-2xl text-lg font-light text-foreground"
        set:html={tagline}
      />
    )
  }
  {
    actions.length > 0 && (
      <div class="flex w-full items-center justify-start gap-2 py-2">
        {actions.map(({ text, link, ...attrs }) => (
          <a
            href={link}
            class={cn(
              buttonVariants({
                variant:
                  attrs.variant === 'minimal' || attrs.variant === 'primary'
                    ? 'default'
                    : 'ghost',
                size: 'sm',
              }),
            )}
            set:html={text}
          />
          //   <CallToAction {...attrs} set:html={text} />
        ))}
      </div>
    )
  }
</section>
