---
import { render } from 'astro:content'
import { getCollection } from 'astro:content'

import IconArrowUpRight from '~icons/tabler/arrow-up-right'

import Layout from '~/pages/docs/_layout.astro'
import { buttonVariants } from '~/registry/new-york-v4/ui/button'
import { mdxComponents } from '~/mdx-components'

export async function getStaticPaths() {
  const docs = await getCollection('docs')
  return docs.map((doc) => ({
    params: { slug: doc.slug || doc.id },
    props: { doc },
  }))
}

const { doc } = Astro.props
const { Content } = await render(doc)
---

<Layout seo={{
  title: doc.data.title,
  description: doc.data.description
}}>
  <div data-slot="docs" class="flex items-stretch text-[1.05rem] sm:text-[15px] xl:w-full">
    <div class="flex min-w-0 flex-1 flex-col">
      <div class="h-(--top-spacing) shrink-0">
        <div class="mx-auto flex w-full max-w-2xl min-w-0 flex-1 flex-col gap-8 px-4 py-6 text-neutral-800 md:px-0 lg:py-8 dark:text-neutral-300">
          <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2">
              <div class="flex items-start justify-between">
                <h1 class="scroll-m-20 text-4xl font-semibold tracking-tight sm:text-3xl xl:text-4xl">
                  {doc.data.title}
                </h1>
                <div class="flex items-center gap-2 pt-1.5">
                  <!-- next and previous button -->
                </div>
              </div>
              {doc.data.description && <p class="text-muted-foreground text-[1.05rem] text-balance sm:text-base">{doc.data.description}</p>}
            </div>
            {
              doc.data.links && (
                <div class="flex items-center space-x-2 pt-4">
                  {doc.data.links.doc && (
                    <a href={doc.data.links.doc} class={buttonVariants({ variant: 'secondary' })} target="_blank" rel="noreferrer">
                      Docs <IconArrowUpRight />
                    </a>
                  )}
                  {doc.data.links.api && (
                    <a href={doc.data.links.api} class={buttonVariants({ variant: 'secondary' })} target="_blank" rel="noreferrer">
                      API Reference <IconArrowUpRight />
                    </a>
                  )}
                </div>
              )
            }
          </div>
          <div class="w-full flex-1 *:data-[slot=alert]:first:mt-0">
            <Content components={mdxComponents} />
          </div>
        </div>
        <div class="mx-auto flex h-16 w-full max-w-2xl items-center gap-2 px-4 md:px-0">
          <!-- next and previous links -->
        </div>
      </div>
      <div class="sticky top-[calc(var(--header-height)+1px)] z-30 ml-auto hidden h-[calc(100svh-var(--header-height)-var(--footer-height))] w-72 flex-col gap-4 overflow-hidden overscroll-none pb-8 xl:flex">
        <div class="h-(--top-spacing) shrink-0"></div>
        <!-- add toc -->
      </div>
    </div>
  </div>
</Layout>
