---
import { styles } from '@/registry/registry-styles'

import { Select, SelectContent, syncKey } from './select'
---

<Select syncKey={syncKey} hideSelect={true}>
  <SelectContent label={styles[0].label} value={styles[0].name}>
    <slot name="new-york"><p>Not found</p></slot>
  </SelectContent>
  <SelectContent label={styles[1].label} value={styles[1].name}>
    <slot name="default"> <p>Not found</p></slot>
  </SelectContent>
</Select>
