---
import { docsConfig } from '@/config/docs'
import { cn } from '@/lib/utils'

const { pathname } = Astro.props;
---

<div class="w-full">
    {
        docsConfig.sidebarNav.map(item => (
            <div class="pb-4">
                <h4 class="mb-1 rounded-md px-2 py-1 text-sm font-semibold">{item.title}</h4>
                <div class="grid grid-flow-row auto-rows-max text-sm">
                    {item.items.map(subItem =>
                        subItem.disabled
? (
                            <span
                              class={cn(
                                    'flex w-full cursor-not-allowed items-center rounded-md p-2 text-muted-foreground hover:underline',
                                    subItem.disabled && 'cursor-not-allowed opacity-60',
                                )}
                            >
                                {subItem.title}
                                {subItem.label && (
                                    <span
                                      class={cn(
                                            'ml-2 rounded-md bg-lime-600/10 px-2 py-1 text-xs leading-none text-lime-600 no-underline ring-1 ring-inset ring-lime-600/20 group-hover:no-underline dark:bg-lime-500/10 dark:text-lime-500 dark:ring-lime-500/20',
                                            subItem.label === 'Soon' && 'bg-muted text-muted-foreground',
                                            subItem.label === 'Updated' && 'bg-blue-600/10 text-blue-600 dark:bg-blue-400/10 dark:text-blue-400 ring-blue-600/20 dark:ring-blue-500/20',
                                        )}
                                    >
                                        {subItem.label}
                                    </span>
                                )}
                            </span>
                        )
: (
                            <a
                              href={subItem.href}
                              class={cn(
                                    'flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline',
                                    subItem.disabled && 'cursor-not-allowed opacity-60',
                                    pathname === subItem.href
                                        ? 'font-medium text-foreground'
                                        : 'text-muted-foreground',
                                )}
                            >
                                {subItem.title}
                                {subItem.label && (
                                    <span
                                      class={cn(
                                            'ml-2 rounded-md bg-lime-600/10 px-2 py-1 text-xs leading-none text-lime-600 no-underline ring-1 ring-inset ring-lime-600/20 group-hover:no-underline dark:bg-lime-500/10 dark:text-lime-500 dark:ring-lime-500/20',
                                            subItem.label === 'Soon' && 'bg-muted text-muted-foreground',
                                            subItem.label === 'Updated' && 'bg-blue-600/10 text-blue-600 dark:bg-blue-400/10 dark:text-blue-400 ring-blue-600/20 dark:ring-blue-500/20',
                                        )}
                                    >
                                        {subItem.label}
                                    </span>
                                )}
                            </a>
                        ),
                    )}
                </div>
            </div>
        ))
    }
</div>
