---
import MobileNav from '@/components/MobileNav.astro'
import { siteConfig } from '@/lib/config'
import { cn } from '@/lib/utils'
import { buttonVariants } from '@/registry/new-york-v4/ui/button'
import { Icons } from '@/components/icons'
import MainNav from '@/components/MainNav.astro'
import CommandMenu from '@/components/CommandMenu.astro'
import ModeSwitcher from '@/components/ModeSwitcher.astro'
import { separatorClass } from '@/registry/new-york-v4/ui/separator'
import GitHubLink from '@/components/GitHubLink.astro'
import SiteConfig from '@/components/SiteConfig.astro'
---

<header class="bg-background sticky top-0 z-50 w-full">
  <div class="container-wrapper 3xl:fixed:px-0 px-6">
    <div class="3xl:fixed:container flex h-(--header-height) items-center gap-2 **:data-[slot=separator]:!h-4">
      <MobileNav />
      <a href="/" class={cn(buttonVariants({ variant: 'ghost', size: 'icon' }), 'hidden size-8 lg:flex')}>
        <Icons.logo class="size-5" />
        <span class="sr-only">{siteConfig.name}</span>
      </a>
      <MainNav items={siteConfig.navItems} class="hidden lg:flex" />
      <div class="ml-auto flex items-center gap-2 md:flex-1 md:justify-end">
        <div class="hidden w-full flex-1 md:flex md:w-auto md:flex-none">
          <CommandMenu />
        </div>
        <div class={separatorClass} data-orientation="vertical" data-slot="separator"></div>
        <GitHubLink />
        <div class={separatorClass} data-orientation="vertical" data-slot="separator"></div>
        <SiteConfig class="3xl:flex hidden" />
        <div class={separatorClass} data-orientation="vertical" data-slot="separator"></div>
        <ModeSwitcher />
      </div>
    </div>
  </div>
</header>
